<mat-toolbar color="primary">
  <span class="mt-1 brand" routerLink="/expenses">MaBills<i class="bi bi-currency-bitcoin"></i></span>
  <button [matMenuTriggerFor]="loginRegisterMenu" mat-icon-button *ngIf="!userAuthenticated">
    <i class="bi bi-person-fill"></i>
  </button>
  <div *ngIf="userAuthenticated" class="d-flex flex-row">
    <button mat-icon-button matTooltip="Expenses" routerLink="/expenses">
      <i class="bi bi-cash"></i>
    </button>
    <button mat-icon-button matTooltip="Expenses Categories"
      (click)="showExpensesCategories()">
      <i class="bi bi-bookmarks-fill"></i>
    </button>
    <button mat-icon-button matTooltip="Incomes" routerLink="/incomes">
      <i class="bi bi-piggy-bank-fill"></i>
    </button>
    <button mat-icon-button matTooltip="Charts" routerLink="/charts">
      <i class="bi bi-bar-chart-fill"></i>
    </button>
  </div>
  <div *ngIf="userAuthenticated">
    <button mat-icon-button matTooltip="Profile" routerLink="/user-profile">
      <i class="bi bi-person-square"></i>
    </button>
    <button mat-icon-button (click)="logout()" matTooltip="Log Out">
      <i class="bi bi-box-arrow-right"></i>
    </button>
  </div>
</mat-toolbar>

<mat-menu #loginRegisterMenu="matMenu">
  <button mat-menu-item routerLink="login">Login</button>
  <button mat-menu-item routerLink="register">Register</button>
</mat-menu>
