.mat-mdc-card-content {
  height: 500px;
}

.header-select-to-end {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.mat-mdc-form-field {
  width: 8rem;
  height: 4.2rem;
}

.custom-form-field-large {
  width: 10rem;
}

.custom-form-field {
  width: 4.5rem;
}
