<div class="row">
  <div class="col-lg-3 col-sm-3 col-md-3 d-flex justify-content-start align-items-center flex-row">
    <h3 class="m-0">{{ filterName }}</h3>
  </div>
  <div class="col-lg-2 col-sm-2 col-md-2">
    <select class="form-select" [formControl]="filterTypeFormControl" (change)="onFilterChanged()">
      <option [value]="FilterComparisons.EQUAL">=</option>
      <option [value]="FilterComparisons.NOT_EQUAL"> != </option>
      <option [value]="FilterComparisons.CONTAINS"> Contains </option>
    </select>
  </div>
  <div class="col-lg-5 col-sm-5 col-md-5">
    <input type="text" class="form-control" placeholder="{{ filterName }}" [formControl]="filterValueFormControl" (input)="onFilterChanged()"/>
    <div *ngIf="filterValueFormControl.hasError('pattern') && hasErrorMessage()" class="{{this.AlertClasses}}">
      {{errorMessage}}
    </div>
  </div>
</div>
