<mat-card>
  <mat-card-header>
    <div class="header-select-to-end w-100">
      <mat-card-title class="vertical-centered">{{ title }}</mat-card-title>
      <div class="select">
        <mat-label class="me-1">Orientation:</mat-label>
        <mat-form-field class="custom-form-field">
          <mat-select [formControl]="orientationFormControl" (selectionChange)="changeOrientation()">
            <mat-option value="horizontal" >
              Horizontal
            </mat-option>
            <mat-option value="vertical">
              Vertical
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>
  </mat-card-header>
  <mat-card-content [class]="hasPadding()">
    <ng-container *ngIf="showChart() else emptyMessage">
      <ngx-charts-bar-vertical-2d
        [scheme]="options.scheme"
        [results]="seriesChart.series"
        [xAxis]="options.xAxis"
        [yAxis]="options.yAxis"
        [legend]="options.legend"
        [showXAxisLabel]="options.showXAxisLabel"
        [showYAxisLabel]="options.showYAxisLabel"
        [xAxisLabel]="options.xAxisLabel"
        [yAxisLabel]="options.yAxisLabel"
        [animations]="options.animations"
        (select)="options.select($event)"
        [legendPosition]="legendPosition"
        [groupPadding]="options.groupPadding"
        *ngIf="isVertical()"
      >
      </ngx-charts-bar-vertical-2d>
      <ngx-charts-bar-horizontal-2d
        [scheme]="options.scheme"
        [results]="seriesChart.series"
        [xAxis]="options.xAxis"
        [yAxis]="options.yAxis"
        [legend]="options.legend"
        [showXAxisLabel]="options.showXAxisLabel"
        [showYAxisLabel]="options.showYAxisLabel"
        [xAxisLabel]="options.xAxisLabel"
        [yAxisLabel]="options.yAxisLabel"
        [animations]="options.animations"
        (select)="options.select($event)"
        [legendPosition]="legendPosition"
        [groupPadding]="options.groupPadding"
        *ngIf="!isVertical()"
      >
      </ngx-charts-bar-horizontal-2d>
    </ng-container>
    <ng-template #emptyMessage>
      <p>There is no data to show in this chart</p>
    </ng-template>
  </mat-card-content>
</mat-card>
