<div class="row">
  <div class="col-lg-6 col-md-12 col-sm-12">
    <app-bar-chart
      [chartOptionsServiceWrapper]="expensesChartOptionsServiceWrapper"
      class="chart-height"
    >
    </app-bar-chart>
  </div>
  <div class="col-lg-6 col-md-12 col-sm-12">
    <app-bar-chart
      [chartOptionsServiceWrapper]="incomeChartOptionsServiceWrapper"
      class="chart-height"
    >
    </app-bar-chart>
  </div>
</div>


<div class="row mt-3">
    <app-multiple-data-bar-chart
      [chartOptionsServiceWrapper]="expenseIncomeByDateSeriesChartOptionsServiceWrapper"
      class="chart-height"
    >
    </app-multiple-data-bar-chart>
</div>

<div class="row mt-3">
  <div class="col-lg-6 col-md-12 col-sm-12">
    <app-pie-chart
      [chartOptionsServiceWrapper]="expensesPieChartOptionsServiceWrapper"
      class="chart-height"
    >
    </app-pie-chart>
  </div>
  <div class="col-lg-6 col-md-12 col-sm-12">
  </div>
</div>

