<div  [(ngbCollapse)]="isCollapsed" class="container-fluid">
  <div class="row w-100 mb-2" *ngFor="let array of splitFilters">
    <ng-container *ngFor="let filter of array">
      <app-number-filter
        *ngIf="isNumberFilter(filter)"
        [filterName]="filter.filterName"
        [filterField]="filter.filterField"
        [formControl]="getFormControl(filter.filterName)"
        class="{{filterClasses}}"
      >
      </app-number-filter>
      <app-text-filter
        *ngIf="isTextFilter(filter)"
        [filterName]="filter.filterName"
        [filterField]="filter.filterField"
        [formControl]="getFormControl(filter.filterName)"
        [pattern]="filter.pattern"
        [errorMessage]="filter.errorMessage"
        [containsSearchPattern]="filter.containsSearchPattern"
        class="{{filterClasses}}"
      >
      </app-text-filter>
      <app-date-filter
        *ngIf="isDateFilter(filter)"
        [filterName]="filter.filterName"
        [filterField]="filter.filterField"
        [formControl]="getFormControl(filter.filterName)"
        class="{{biggerFilterClass}}"
      >
      </app-date-filter>
    </ng-container>
  </div>
  <button mat-raised-button class="mt-3" [disabled]="!canApplyFilters()" (click)="apply()">Apply filters</button>
  <button mat-raised-button class="mt-3 ms-2" (click)="clear()">Clear filters</button>
</div>
