/* You can add global styles to this file, and also import other style files */
:root{
  --login-register-card-width: 35rem;
  --profile-card-width: 35rem;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.loading-modal .modal-content {
  background: none;
  border:none;
}

.modal-card .mat-mdc-form-field-error-wrapper {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.cdk-overlay-container{
  z-index: 2000 !important;
}
