<div class="d-flex flex-row justify-content-center align-items-center" style="height: 80vh;">
  <mat-card class="profile-card">
    <mat-card-header>
      <mat-card-title>{{ title }}</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <form >
        <mat-form-field class="w-100">
          <mat-label>Password</mat-label>
          <input matInput type="password" [formControl]="userFormControls.passwordFormControl">
          <mat-error *ngIf="userFormControls.passwordFormControl.hasError('minlength')">The password should have at least 6 characters</mat-error>
          <mat-error *ngIf="userFormControls.passwordFormControl.hasError('maxlength')">The password should have at most 16 characters</mat-error>
          <mat-error *ngIf="userFormControls.passwordFormControl.hasError('pattern')">It should have 1 capital letter, 1 lowercase letter, 1 special character and 1 number</mat-error>
        </mat-form-field>
        <mat-form-field class="w-100">
          <mat-label>Email</mat-label>
          <input matInput type="email" [formControl]="userFormControls.emailFormControl" required>
          <mat-error *ngIf="userFormControls.emailFormControl.hasError('required')">Email is required</mat-error>
          <mat-error *ngIf="userFormControls.emailFormControl.hasError('email')">Email format is incorrect</mat-error>
        </mat-form-field>
        <mat-form-field class="w-100">
          <mat-label>Mobile</mat-label>
          <input matInput [formControl]="userFormControls.mobileFormControl" required>
          <mat-error *ngIf="userFormControls.mobileFormControl.hasError('required')">Mobile is required</mat-error>
          <mat-error *ngIf="userFormControls.mobileFormControl.hasError('pattern')">Mobile should only contain numbers</mat-error>
        </mat-form-field>
        <button mat-raised-button color="primary" (click)="updateProfile()" [disabled]="disableUpdateButton()">Update</button>
        <button mat-raised-button color="warn" (click)="reset()" class="ms-1">Reset</button>
      </form>
    </mat-card-content>
  </mat-card>
</div>
